*{
    background-color: #242A32;
    color: white;
}
#page_heading{
    text-shadow: 2px 2px #0296E5;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#apikey{
    width: 80vw;
    margin-inline: auto;
    padding: 5px;
    height: 40px;
    background: #3A3F47;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}
#movie{
    width: 80vw;
    margin-inline:auto;
    padding: 5px;
    height: 40px;
    background: #3A3F47;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}
#search_btn{
    align-self: center;
    margin-inline:6rem;
    background-color: rgb(6, 59, 192);
    padding: 10px;
    width: 200px;
    height: 40px;
 border: none;
 border-radius: 5px;
}
#error{
    margin: 10px;
    margin-left: 20px;
    color: white;
}
.loader_section{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    
}
#loader{
    display: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #d6d8da;
    border-top: 5px solid red;
    animation: test 1s ease infinite;
}
@keyframes test{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#display{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-inline: auto;
    justify-content: space-around;
}
.card{
    width: 400px;
    min-height: 400px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-inline: auto;
    flex-direction: column;

}
#card_img{
    border-radius: 20px;
}
.discription,.title{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;


}
#card_number{
    color: #242A32;
text-align: center;
text-shadow: 0px 2px 4px #0296E5;
font-family: Montserrat;
font-weight: 600;
    font-size: 200px;
    margin-top: -100px;
    margin-left: -20px;
    margin-right: -50px;
    background: transparent;
}
#card_title{
    font-size: 20px;
    height: auto;
}
#date, #type{
    font-size: 18px;
    margin-top: -220px;
    
}